$darker_blue: #001157;
$dark_blue: #031561;
$blue_2 : #02197B; 
$light_blue: #184AD6;
$lighter_blue: #566794;
$lighter_blue: #91A7D3;
$light : #91A7D3;
$white: #FFFFFF;
$half_white: #F7FAFF;
$light_green: #79F2C0;
$black: #0A1128;
$dark_pink : #fc234b;
$light_grey : #F3F4F8;
$layer : #081e79;